.root {
  text-align: center;
  margin: 20px 0;
}

.filtersButton {
  margin-bottom: 20px;
}

.filtersContainer {
  margin: 20px;
}

.container {
  margin: 20px;
}

.cardItemsContainer {
  display: grid !important;
  grid-template-columns: repeat(4, 250px);
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  max-width: 1060px;
  @media screen and (max-width:1024px) {
    grid-template-columns: repeat(3, 250px);
  }
  @media screen and (max-width:768px) {
    grid-template-columns: repeat(2, 250px);
  }
}

.cardItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}
// @media  (min-width: 500px ) {
//   .cardItems {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: center;
//     margin: 0;
//     padding: 20px;
//     width: 270px;
//   }
// }
// @media (min-width: 500px){
// .css-14j1sok-MuiGrid-root {
//     -webkit-flex-basis: 50%;
//     -ms-flex-preferred-size: 50%;
//     flex-basis: 50%;
//     -webkit-box-flex: 0;
//     -webkit-flex-grow: 0;
//     -ms-flex-positive: 0;
//     flex-grow: 0;
//     max-width: 50%;
// }}
